*{
    margin:0;
    padding:0;
    font-family: Inter, sans-serif;
}
.cont2{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    height: 100vh;
    width: 100%;
    background-color: #F5EFFF;
}
.box{
    grid-column: 1/11;
    grid-row: 1/11;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    align-self: center;
    /* margin-left: 15%; */
    /* border: 2px solid black; */
}

.box1{
   height: 20%; 
   width: 100%;
   /* background-color: rgb(241, 241, 10); */
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 2px solid black; */
}
.searchbar{
    height: 70%;
    width: 99%;
    background: #986cd9;
    background: linear-gradient(90deg, rgba(152, 108, 217, 1) 0%, rgba(193, 179, 199, 1) 50%);
    /* border: 2px solid #9786aa; */
    border-radius: 5rem;
    /* display: flex; */
}
.logo{
    height: 85px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-radius: 50%;
    /* background-color: aqua; */
    margin-left: 93%;
}

.box2{
   height: 40%; 
   width: 100%;
   /* background-color: rgb(179, 179, 64); */
   /* border: 2px solid black; */
}
.headsec h2{
    margin: 1rem;
    height: 10%;
    color: #535c91;
}
.headsec .im{
    height: 90%;
    display: flex;
    justify-content:space-around;
}
.name{
    margin-top: 1rem;
    height: 40%;
    color: A594F9;
    border:1px rgb(170, 5, 170);
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box3{
   height: 38%; 
   width: 100%;
   /* background-color: rgb(29, 29, 28); */
   /* border: 2px solid black; */
}
.box3 h2{
    margin: 1rem;
    height: 10%;
    color: #535c91;
    /* background-color: aquamarine; */
}
.photo{
    height: 60%;
    margin-left: 2rem;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-evenly;
}
.box3 .nam{
    height: 18%;
    margin-top: 1rem;
    display: flex;
    justify-content:space-around;
    margin-right: 10rem;
    /* background-color: brown; */
}
.box4{
   height: 40%; 
   width: 100%;
   /* background-color: rgb(179, 179, 64); */
   /* border: 2px solid black; */
}
.headsec h2{
    margin: 1rem;
    height: 10%;
    color: #535c91;
}
.headsec .im{
    height: 90%;
    display: flex;
    justify-content:space-around;
}
.name{
    margin-top: 1rem;
    height: 40%;
    color: A594F9;
    border:1px rgb(170, 5, 170);
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.photo{
    height: 140PX;
    
}
.IMG
{
    height: 140PX;
    width: 140PX;
}